.deps/
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1
mdpclient
mdpsim
last_id
logs/
parser.cc
parser.hh
tokenizer.cc
*.o